<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meedy.irrigationapp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FrontPage"
                  android:label="Frontpage"
                    ></activity>


        <activity android:name=".Preliminary_design"
            android:label="Preliminary"></activity>


        <activity android:name=".MyField"
                  android:label="Field size"></activity>

        <activity android:name=".sys_capacity"
                  android:label="Preliminary System Capacity"/>

        <activity android:name=".pump"
            android:label="Pump Selection"/>


        <activity android:name=".freq"
                    android:label=" Irrigation Frequency"/>


        <activity android:name=".field_drip"
            android:label="Field size"/>


        <activity android:name=".irr_requirement_drip"
                  android:label="Irrigation Requirement"/>

        <activity android:name=".Manuals_pdf"
                    android:label="FAO Manuals"/>


        <activity android:name=".EmittersPerPlant"
                android:label="Number of Emitters"/>

        <activity android:name=".SpacingEmitter"
                android:label="Emitter Spacing"/>

        <activity android:name=".Adjusted_Pw"
                android:label="Percentage Wetted Area"/>

        <activity android:name=".drip_irrFrequency"
                android:label=" Irrigation Frequency"/>

        <activity android:name=".SetTime"
            android:label="Set Time"/>
        <activity android:name=".Total_Dynamic_Head"
            android:label="Total Dynamic Head"/>


        <activity android:name=".adjusting_pw"
                    android:label="Adjusting Pw"/>

        <activity android:name=".adjusting_Ta"
                  android:label="Adjusting Set Time"/>

        <activity android:name=".PressureVariation"
                  android:label="Pressure Variation"/>

        <activity android:name=".Allowable_Variation"
                  android:label="Allowable Variation"/>

        <activity android:name=".LateralDiameter2"
                   android:label="Lateral Pipe Diameter"/>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".About"
            android:label="About"></activity>
        <activity android:name=".Manifold"
                  android:label="Manifold Pipe Diameter"></activity>
        <activity android:name=".Mainline"
                  android:label="Mainline Pipe Diameter"></activity>
    </application>

</manifest>